.auth-ob
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth--content
{
    width: 40%;
}

.steps-ob
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps--content
{
    width: 40%;
}

.form-control
{
    display: block;
}

.modalbtn{
    color: #fff;
    border: solid #185899 1px;
    outline: #185899;
    margin-top: 20px;
    width: 100%;
    transition: all 0.2s;
    background-color: #6495ED;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;

}
.modalbtn:hover{
    color: #337ab7;
    background-color: #fff;
    border-color: #2e6da4;
}

.server-messages
{
    font-size: 12px;
    font-weight: 600;
}