*,
*:before,
*:after{
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.select {
    display: inline-block;
    vertical-align: top;
    max-width: 245px;
    width: 100%;
}

.select-wrap {
    max-width: 700px;
    width: 100%;
    margin: 20px auto;
}

.select-wrap select {
    margin: 20px;
}

.select__gap {
    background: transparent;
    color: #467797;
    border: 1px solid #467797;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
}

.on.select__gap,
.select__gap:hover {
    color: #467797;
}

.select__list {
    background: transparent;
    border: 1px solid #467797;
    margin: 0px 0;
}

.select__list.on {
    display: block;
}

.select__item span {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    color: #333;
}

.select__item.selected,
.select__item span:hover {
    color: #467797;
}

.select__gap:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 14px solid #000;

    -webkit-transition: all .27s ease-in-out;
    -o-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.on.select__gap:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}